body {
  overflow-y: hidden;
}

#webview.toolbar-closed {
  z-index: 2;
  display: inline-flex;
  width: 100%;
  height: calc(100% - 10px);
  transition-duration: 0.5s;
}

#webview.toolbar-open {
  z-index: 2;
  display: inline-flex;
  width: 100%;
  height: calc(100% - 50px);
  transition-duration: 0.5s;
}

#toolbar {
  padding: 0px;
  user-select: none;
}

#toolbar.toolbar-closed {
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.5s;
}

#toolbar.toolbar-open {
  height: 50px;
  background-color: black;
  transition-duration: 0.5s;
}

#toolbar.toolbar-closed>.toolbar-button {
  opacity: 0;
  height: 0px !important;
  line-height: 10px;
  transition-duration: 0.5s;
}

#toolbar.toolbar-open>.toolbar-button {
  opacity: 1;
  transition-duration: 0.5s;
}

.toolbar-button {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  text-align: center;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  filter: invert(100%);
  transition-duration: 1s;
}

.toolbar-button:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#back-button {
  background-image: url("https://image.flaticon.com/icons/svg/126/126492.svg");
}

#reload-button {
  background-image: url("https://image.flaticon.com/icons/svg/109/109450.svg");
}

#forward-button {
  background-image: url("https://image.flaticon.com/icons/svg/126/126492.svg");
  transform: rotateY(180deg);
}

#on-top-button {
  background-image: url("https://image.flaticon.com/icons/svg/61/61845.svg");
}

#not-on-top-button {
  background-image: url("https://image.flaticon.com/icons/svg/61/61845.svg"), url("https://image.flaticon.com/icons/svg/803/803294.svg");
  background-size: 30px, 40px;
}

#download-button {
  background-image: url("https://image.flaticon.com/icons/svg/126/126488.svg");
}

#playback-speed-button {
  min-width: 150px;
}

#playback-speed-button-icon {
  width: 40%;
  height: 100%;
  left: 0px;
  filter: invert(0%) !important;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("https://image.flaticon.com/icons/svg/2/2204.svg");
}

#playback-speed-button-input {
  transform: translateX(66.66%) translateY(-100%);
  float: left;
  width: 60%;
  height: 100%;
  border: none;
}


#playback-speed-button-input>button {
  float: right;
  background-color: transparent;
  width: 35%;
  height: 100%;
  border: none;
  transition-duration: 1s;
}

/* Inputs can't resize to 0px. */
#toolbar.toolbar-closed #playback-speed-button-input>* {
  display: none !important;
}

#playback-speed-button-input>input {
  background-color: transparent;
  text-align: center;
  width: 30%;
  height: 100%;
  border: none;
  transition-duration: 1s;
}

#playback-speed-button-input>input:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#playback-speed-button-input>button:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#playback-speed-button-input>input:focus, #playback-speed-button-input>button:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
